Repository wisestudy/wisestudy-server, pull requests merged in 2020-08, with the labels that each got.

#54 feature/#53/category,study
  api/category/serializers.py
  api/category/views.py
  api/migrations/0002_auto_20200731_1215.py
  api/study/models.py
  api/study/serializers.py
  api/study/views.py
  api/study_member/serializers.py
Labels: api

#55 feature/#44/study<pk>member
  api/migrations/0001_initial.py
  api/migrations/0002_auto_20200731_1215.py
  api/study/serializers.py
  api/study/views.py
  api/study_member/serializers.py
  api/urls.py
  config/settings/base.py
Labels: api

#57 feature/#56/category,study(query params)
  api/category/views.py
  api/study/serializers.py
  api/study/views.py
Labels: api

#52 Feature/#45 api document add
  api/activity_picture/models.py
  api/activity_picture/serializers.py
  api/activity_picture/views.py
  api/category/views.py
  api/migrations/0001_initial.py
  api/migrations/0002_auto_20200802_1827.py
  api/schedule/models.py
  api/schedule/serializers.py
  api/schedule/views.py
  api/study/serializers.py
  api/study/views.py
  api/study_member/models.py
  api/study_member/serializers.py
  api/study_member/views.py
  api/urls.py
  api/user/models.py
  api/user/views.py
  config/urls.py
Labels: server

#59 [FEAT] 모델 개선(user, study, category) #58
  api/category/views.py
  api/migrations/0003_auto_20200806_0009.py
  api/study/models.py
  api/study/serializers.py
  api/study/views.py
  api/study_member/serializers.py
  api/urls.py
  api/user/models.py
  api/user/serializers.py
  config/urls.py
Labels: DB, api

#60 Global error handler
  api/study/views.py
  config/settings/base.py
  middleware/ApiResponse.py
Labels: server

#68 feature/#66/User studylist
  api/study_member/serializers.py
  api/user/serializers.py
  api/user/views.py
  kakao_auth/__init__.py
  kakao_auth/admin.py
  kakao_auth/apps.py
  kakao_auth/migrations/__init__.py
  kakao_auth/models.py
  kakao_auth/tests.py
  kakao_auth/urls.py
  kakao_auth/views.py
Labels: api

#74 Feature/#71 study_member API 수정
  api/activity_picture/models.py
  api/activity_picture/serializers.py
  api/activity_picture/views.py
  api/category/views.py
  api/schedule/views.py
  api/study/models.py
  api/study/serializers.py
  api/study/views.py
  api/study_member/serializers.py
  api/urls.py
  config/settings/base.py
Labels: api
